.image__container {
  position: relative;
  border: solid 1px black;
  border-radius: 6px;
  overflow: hidden;
  height: 292.5px;
  width: 195px;
}

.image__img{
  display: block;
 border-radius: 6px;
 width: 100%;
 height: 100%;
}


.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
backdrop-filter: blur(3px);
}

.image__overlay:hover {
  opacity: 100%;
}

.image__overlay > * {
  transform: translateY(40px);
  transition: transform 0.4s;
}

.image__overlay:hover > * {
  transform: translateY(0px);
}

#image__title {
  font-size: 1.25em;
  font-weight: bold;
  
}

#error {
  position: fixed;
  top: 125px;
  margin-right: 0px !important;
}

#rating__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating__star{
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-right: 3px;
}

#image__rating {
  font-size: 1em;
}

/* 
border-radius: .2em; */

.Movie__List {
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 0px;
  position: fixed;
  top: 170px;
}

#root > div > div:nth-child(2) {
  margin-bottom: 0px;
}

#root {
  margin-bottom: 0px;
}