.App {
  height: 100vh;
  width: 100%;
  background-color: #13171a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
color: white;
}

.Movie__List {
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}